body {
  font-family: Arial, sans-serif;
  color: #333;
  background-color: #fff;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

body.dark {
  color: #fff;
  background-color: #333;
}

button {
  padding: 0.5em 1em;
  cursor: pointer;
}

#theme-switcher {
  width: 100px; /* Ширина изображения */
  height: 60px; /* Высота изображения */
  cursor: pointer; /* Устанавливает курсор в виде указателя при наведении на изображение */
}
